body {
	font-family: Body;
	background-color: #F7F7F7;
	max-width: 100%;
    overflow-x: hidden;
}
@media  (max-width: 980px){ .hide-desktop{ display: none !important; } } 
@media  (min-width: 980px){ .hide-mobile{ display: none !important; } } 

@font-face {
    font-family: Title;
    src: url(basictitlefont.ttf);
}
@font-face {
    font-family: Body;
    src: url(bahnschrift.ttf);
}
#header {
	font-family: Title;
	width: 110%;
	color: white;
	background-color: black;
	margin-left: -1%;
	margin-top: -21px;
	height: 90px;
	
}
#title {
	width: 50%;
	display:inline-block;
	
}
#title > h1 {
	vertical-align: middle;
	width: 100%;
}
#title > h1 > a {
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 2%;
	margin-top: 15px;
	text-decoration: none;
	height: 90px;
	display: block;
	width: 30%;
	color: white;
	
}
#title > h1 > a:hover {
	color: #D2D2D2;
}
#menu-list {
	float: right;
	height: 90px;
	width: 50%;
	vertical-align: middle;
	margin-right: -10%;
}
#list {
	list-style-type: none;
	height: 90px;
	vertical-align: middle;
	margin-top: 45px;
	font-size: 1.5em;
	
}
#list > li {
	display: inline;
	padding-left: 2%;
	padding-right: 2%;	
}
#list > li > a {
	text-decoration: none;
	color: white;
}
#list > li > a:hover {
	color: #D2D2D2;
}
#space {
	height: 200px;
	clear: both;	
}
@media  (min-width: 980px){
#content {
	margin: 0 auto;	
	text-align: center;
	width: 100%;
}
#content > a {
	font-size: 3em;
	display: inline-block;
	text-decoration: none;
	color: black;
	height: 180px;
	width: 30%;
	
}
.selection {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	
}
#red {
	background-color: #FF7373;
}
#green {
	background-color: #73FF8F;
}
#blue {
	background-color: #7393FF;
}
#yellow {
	background-color: #FBFFAA;
}
#red:hover {
	background-color: #DA6161;
}
#green:hover {
	background-color: #60D778;
}
#blue:hover {
	background-color: #637DD6;
}
#yellow:hover {
	background-color: #DBDE97;
}
.vert {
	display: block;
	margin-top: 11.5%;
}
#footer {
	margin: 0 auto;
	text-align: center;
	
}
#footer > a > img {
	display: inline-block;
	height: 1%;
	width: 1%;
}
#footer > a > img:hover {
	height: 1.1%;
	width: 1.1%;
}
}

/* mobile */

.container {
    display: block;
    cursor: pointer;
	float: left;
	position: fixed;
	z-index: 1;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
	
	
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
	background-color: white;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
	background-color: white;
}
#m-header {
	width: 100%;
	height: 100px;
	text-align: center;
}
#m-title {
	text-align: center;
	color: black;
	display: inline-block;
	margin: -18px auto;
}
#m-title > h1 > a {
	color: black;
	text-decoration: none;
}
#m-title > h1 > a:hover {
	color: #838383;
}
@media  (max-width: 980px){
	#content {
	margin: 0 auto;	
	text-align: center;
	width: 100%;
	
}
#content > a {
	font-size: 3em;
	display: inline-block;
	text-decoration: none;
	color: black;
	height: 20%;
	width: 80%;
}
.selection {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	
}
#red {
	background-color: #FF7373;
	
}
#green {
	background-color: #73FF8F;
}
#blue {
	background-color: #7393FF;
}
#yellow {
	background-color: #FBFFAA;
}
#red:hover {
	background-color: #DA6161;
}
#green:hover {
	background-color: #60D778;
}
#blue:hover {
	background-color: #637DD6;
}
#yellow:hover {
	background-color: #DBDE97;
}
.vert {
	display: block;
	margin-top: 2%;
}
#footer {
	margin: 0 auto;
	text-align: center;
}
#footer > a > img {
	display: inline-block;
	height: 2%;
	width: 2%;
}
#footer > a > img:hover {
	height: 2.2%;
	width: 2.2%;
}
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #D2D2D2;
}
}

/* Portfolio Page */
@media  (min-width: 980px){
#work-description {
	float: left;
	text-align: left;
	width: 40%;
	margin-left: 10%;
	display: inline-block;
}
#work-description > p {
	font-size: 1.5em;
}
#navigation-sidebar {
	background-color: black;
	height: 60%;
	width: 20%;
	float: right;
	display: inline-block;
	text-align: center;
	margin-right: 10%;
}
#navigation-sidebar > ul > li {
	list-style-type: none;
	padding: 10% 0;
	display: block;
	margin-left: -15%;
	font-size: 1.2em;
}
#navigation-sidebar > ul > li > a {
		text-decoration: none;
		color: white;
}
#navigation-sidebar > ul > li > a:hover {
	color: #D2D2D2;
}
#work {
	clear: both;
	
	width: 100%;
}
.work-title {
	height: 100px;
	text-align: center;
	width: 102%;
	margin: 0 auto;
	margin-left: -1%;
	clear: both;
	box-shadow: 0 3px 5px #888888;
}
#web-title {

	background-color: #FF7373;	
}
.work-title > h1 {
	font-size: 2.5em;
	padding-top: 1.5%;
}
#design-title {
	background-color: #73FF8F;
}
#video-title {
	background-color: #7393FF;
}
#fashion-title {
	background-color: #FBFFAA;
}
.websites {
	display: inline-block;
	width: 500px;
	height: 250px;
	box-shadow: 5px 5px 5px  #888888;	
	margin: 2.5%;
	transition: .3s;
}
.websites:hover {
	opacity: .7;
}
.overlay {

  margin-top: 80px;
  opacity: 0;
  transition: .5s ease;
  position: absolute;
}
.overlay-color { 
  width: 500px;
  height: 250px;
  opacity: 0;  
  position: absolute;
  transition: .5s ease;
  background-color: white;

}
#websites > a:hover .overlay-color {
	opacity: .5;
}
#websites > a:hover .overlay {
	opacity: 1;
}

#websites > a {
	text-align: left;
	text-decoration: none;
	color: black;
}
#peepsite {
	background: url(work/peepsite.png);
	 background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}
#personal {
	background: url(work/personal.png);
	 background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}
#card {
	width: 30%;
	transition: .3s;
	vertical-align: middle;
	box-shadow: 5px 5px 5px  #888888;
	margin: 2.5%;
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}


.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 150px;
    right: 200px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
		
    }
}
#card:hover {
	opacity: .7;
}
#ember {
	width: 30%;
	transition: .3s;
	vertical-align: middle;
	margin: 2.5%;
	box-shadow: 5px 5px 5px  #888888;
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
#ember:hover {
	opacity: .7;
}
#tissue {
	width: 30%;
	transition: .3s;
	vertical-align: middle;
	margin: 2.5%;
	box-shadow: 5px 5px 5px  #888888;
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
#tissue:hover {
	opacity: .7;
}
#banner {
	width: 30%;
	transition: .3s;
	vertical-align: middle;
	margin: 2.5%;
	box-shadow: 5px 5px 5px  #888888;
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
#banner:hover {
	opacity: .7;
}
.video-wrap {
	width: 640px;
	height: 480px;
	text-align: center;
	display: inline-block;
	margin: 2.5%;
}
#coat {
	margin: 2.5%;
	width: 30%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
#pants {
	margin: 2.5%;
	width: 20%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.clothes {
	width: 40%;
	margin: 0 2.5%;
	transition: .3s;
	
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
.clothes:hover {
	opacity: .7;
}
#img05 {
	height: 500px;
	width: 500px;
}
#img06 {
	height: 500px;
	width: 500px;
}
#img07 {
	height: 500px;
	width: 224px;
}
#img08 {
	height: 500px;
	width: 224px;
}
}
@media  (max-width: 980px){

	#work-description {
	
	text-align: center;
	width: 80%;
	
	display: inline-block;
	clear: both;
}
#work-description > p {
	font-size: 1.5em;
}
#navigation-sidebar {
	background-color: black;
	height: 10%;
	width: 80%;
	
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}
#navigation-sidebar > ul > li {
	list-style-type: none;
	padding:  0 3%;
	display: inline-block;
	margin: 0 auto;
	font-size: 1.2em;
}
#navigation-sidebar > ul > li > a {
		text-decoration: none;
		color: white;
}
#navigation-sidebar > ul > li > a:hover {
	color: #D2D2D2;
}
#work {
	clear: both;
	
	width: 100%;
}
.work-title {
	height: 50px;
	text-align: center;
	width: 102%;
	margin: 0 auto;
	margin-left: -1%;
	clear: both;
	box-shadow: 0 3px 5px #888888;
}
#web-title {

	background-color: #FF7373;	
}
.work-title > h1 {
	font-size: 2.5em;
	padding-top: .7%;
}
#design-title {
	background-color: #73FF8F;
}
#video-title {
	background-color: #7393FF;
}
#fashion-title {
	background-color: #FBFFAA;
}
.websites {
	display: inline-block;
	width: 500px;
	height: 250px;
	box-shadow: 5px 5px 5px  #888888;	
	margin: 2.5%;
	transition: .3s;
}
.websites:hover {
	opacity: .7;
}

#websites > a:hover .overlay-color {
	opacity: .5;
}
#websites > a:hover .overlay {
	opacity: 1;
}

#websites > a {
	text-align: left;
	text-decoration: none;
	color: black;
}
#peepsite {
	background: url(work/peepsite.png);
	 background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}
#personal {
	background: url(work/personal.png);
	 background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}
#card {
	width: 70%;
	transition: .3s;
	vertical-align: middle;
	box-shadow: 5px 5px 5px  #888888;
	margin: 2.5%;
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}


.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 150px;
    right: 200px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
		
    }
}
#card:hover {
	opacity: .7;
}
#ember {
	width: 70%;
	transition: .3s;
	vertical-align: middle;
	margin: 2.5%;
	box-shadow: 5px 5px 5px  #888888;
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
#ember:hover {
	opacity: .7;
}
#tissue {
	width: 70%;
	transition: .3s;
	vertical-align: middle;
	margin: 2.5%;
	box-shadow: 5px 5px 5px  #888888;
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
#tissue:hover {
	opacity: .7;
}
#banner {
	width: 70%;
	transition: .3s;
	vertical-align: middle;
	margin: 2.5%;
	box-shadow: 5px 5px 5px  #888888;
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
#banner:hover {
	opacity: .7;
}
.video-wrap {
	width: 640px;
	height: 480px;
	text-align: center;
	display: inline-block;
	margin: 2.5%;
}
#coat {
	margin: 2.5%;
	width: 50%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
#pants {
	margin: 2.5%;
	width: 40%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.clothes {
	width: 40%;
	margin: 0 2.5%;
	transition: .3s;
	
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
.clothes:hover {
	opacity: .7;
}
#img05 {
	height: 500px;
	width: 500px;
}
#img06 {
	height: 500px;
	width: 500px;
}
#img07 {
	height: 500px;
	width: 224px;
}
#img08 {
	height: 500px;
	width: 224px;
}
}
@media  (min-width: 980px){
#vertical {
	height: 100%;
	width: 5px;
	background-color: black;
	position: fixed;
	margin-top: -200px;
	margin-left: 30%;
	z-index: -1;
}
#horizontal {
	width: 102%;
	height: 5px;
	background-color: black;
	position: fixed;
	z-index: -1;
	margin-left: -2%;
}
#about-head > h1 {
	font-size: 3em;
	
	position: absolute;
	margin-left: 60%;
	
	margin-top: -50px;
}
#about-me {
	width: 65%;
	float: right;
	text-align: center;
	padding-top: 1%;
	font-size: 1.6em;
	margin-right: 2%;
}
#self {
	
	width: 20%;
	
	position: absolute;
	margin-left: -46%;
	margin-top: 50px;
}
#color {
	position: absolute;
	width: 32%;
	height: 215px;
	background-color: #FFD6D6;
	z-index: -2;
	margin-left: -2%;
	margin-top: -210px;
}
}
@media  (max-width: 980px){
	#self {
		width: 50%;
	}
	#about-me {
		width: 75%;
		text-align: center;
		margin: 0 auto;
		font-size: 1.3em;
	}
	#horizontal {
		width: 102%;
		height: 50px;
		background-color: #FFD6D6;
		position: absolute;
		z-index: -1;
		margin-left: -1%;
		margin-top: 100px;
	}
}
#name-field {
	display: none;
	color: red;
}
#email-field {
	display: none;
	color: red;
}
#message {
	height: 200px;
}
input[type=text] {
	background-color: #FCCEFF;
	padding: 12px 20px;
	border: 1px solid #ccc;
}
input[type=submit] {
	border-radius: 4px;
	padding: 14px 20px;
    border: none;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: #919191;
}
textarea {
	background-color: #FCCEFF;
	font-family: Body;
	padding: 12px 20px;
}
input {
	font-family: Body;
}